@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


.lmat-styles {
    margin: 0;
    margin: 0;
    padding: 0;
    background-color: #F3F4F6;
    font-family: inherit;
    min-height: 100vh;
}


#lmat-setup {
    min-width: 100%;
    min-height: 100vh;
    background-color: #F3F4F6;
}
.setup-body {
    /* min-height: 100vh; */
    background-color: #F3F4F6;
    overflow: hidden;
}

.switcher {
    display: grid;
    grid-template-columns: 80% 20%;
}

.active::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #3b82f6;
}

.ready-table {
    width: 100%;
    border-collapse: collapse;
    ;
}

.ready-table-data {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.ready-table-data:first-child {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-top: 1px solid #d1d5db;
    border-left: 1px solid #d1d5db;
    border-right: 1px solid #d1d5db;
}

.ready-table-data:last-child {
    border-bottom: 1px solid #d1d5db;
    border-left: 1px solid #d1d5db;
    border-right: 1px solid #d1d5db;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.ready-table-data:not(:first-child):not(:last-child) {
    border-top: 1px solid #d1d5db;
    border-left: 1px solid #d1d5db;
    border-right: 1px solid #d1d5db;
}
